# API_KEY to be used
API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXX
# Turn this on (True) to use OPENAI_MODEL INSTRUCT
OPENAI_INSTRUCT_MODEL_USE=False
# Configure if Azure will be used.
OPENAI_API_TYPE=azure

# ----------------------------------------
# OPENAI_MODEL variables
# ----------------------------------------
OPENAI_MODEL=gpt-3.5-turbo-16k
# Prices associated with OPENAI_MODEL (Price/1K Tokens)
OPENAI_INPUT_PRICE=0.003
OPENAI_OUTPUT_PRICE=0.004
# AZURE related variables
AZURE_API_BASE=https://telecentro-openai.openai.azure.com
AZURE_API_VERSION=2023-05-15
AZURE_DEPLOYMENT_ID=code-generation-tool-gpt-35-turbo-16k

# ----------------------------------------
# OPENAI_MODEL INSTRUCT variables
# ----------------------------------------
#OPENAI_MODEL=gpt-35-turbo-instruct
# Prices associated with OPENAI_MODEL INSTRUCT (Price/1K Tokens)
#OPENAI_INPUT_PRICE=0.0015
#OPENAI_OUTPUT_PRICE=0.0020
# AZURE related variables
#AZURE_API_BASE=https://incluit-chatobot-poc.openai.azure.com
#AZURE_API_VERSION=2023-09-15-preview
#AZURE_DEPLOYMENT_ID=gpt-35-turbo-instruct

# Retries
OPENAI_RETRIES=2
OPENAI_RETRY_SLEEP_TIME=5
