[settings]
line_length=100
multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
use_parentheses=True
skip=./venv
known_third_party = _pytest,environs,freezegun,getmac,mypy_extensions,py,pychromecast,pytest,pytest_mock,requests,responses,retry,xmltodict
