#ENV
BACKOFFICE_URL=https://localhost:44317

# MYSQL env variables
MYSQL_HOST=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
MYSQL_PORT=3306
MYSQL_USER=XXXXXXXXXXXXXXXXXXXXXXX
MYSQL_PASSWORD=XXXXXXXXXXXXXXXXXX
MYSQL_DB_NAME=db-chatbot

# Redis env variables
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_EMBEDDINGS_DB=0
REDIS_HISTORY_DB=1
REDIS_UNANSWERED_QUESTIONS_DB=2
REDIS_PASSWORD=
REDIS_SSL=false

# OpenAI env variables
OPENAI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_CHAT_MODEL=gpt-35-turbo
OPENAI_EMBEDDING_MODEL=XXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_TYPE=azure

OPENAI_RETRIES=3
OPENAI_RETRY_SLEEP_TIME=10

# Value used to filter nearest neighbor embeddings
EMBEDDINGS_PRECISION_FILTER=0.7

# KNN embeddings count
EMBEDDINGS_TOP_K_ELEMENTS=10

# Prices associated with OPENAI_MODEL (Price/1K Tokens)
OPENAI_STATS=True
OPENAI_COMPLETION_INPUT_PRICE=0.003
OPENAI_COMPLETION_OUTPUT_PRICE=0.004
OPENAI_EMBEDDINGS_PRICE=0.0001

OPENAI_TEMPERATURE=0.1
OPENAI_TOP_PRIORITY=1

# Azure env variables
AZURE_API_BASE=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AZURE_API_VERSION=XXXX-XX-XX
AZURE_API_DEPLOYMENT_ID=XXXXXXXXXXXXXXXXXXXXXXX

# History
HISTORY_EXPIRATION_TIME=30  # minutes
HISTORY_CACHE_COUNT=5

#Auth0
auth0_domain=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
auth0_api_audience=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
auth0_issuer=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
auth0_algorithms=RS256


# Assets - absolute needed file paths
KNOWLEDGE_BASE_PATH=
NO_EMBEDDINGS_KB_DEFAULT_VALUES_PATH=
PROMPT_TEMPLATE_PATH=
UNANSWERED_QUESTION_DEFAULT_RESPONSE_PATH=
