# Redis env variables
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_EMBEDDINGS_DB=0
REDIS_HISTORY_DB=1
REDIS_UNANSWERED_QUESTIONS_DB=2
REDIS_PASSWORD=
REDIS_SSL=false

# MYSQL env variables
MYSQL_HOST=db
MYSQL_PORT=3307
MYSQL_USER=test
MYSQL_PASSWORD=123456
MYSQL_DB_NAME=chatbot

# OpenAI env variables
OPENAI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_CHAT_MODEL=telecentro-gpt-35-turbo
OPENAI_EMBEDDING_MODEL=telecentro-text-embedding-ada-002
OPENAI_TYPE=azure

OPENAI_RETRIES=3
OPENAI_RETRY_SLEEP_TIME=10

# Value used to filter nearest neighbor embeddings
EMBEDDINGS_PRECISION_FILTER=0.8

# KNN embeddings count
EMBEDDINGS_TOP_K_ELEMENTS=10

# Prices associated with OPENAI_MODEL (Price/1K Tokens)
OPENAI_STATS=False
OPENAI_COMPLETION_INPUT_PRICE=0.003
OPENAI_COMPLETION_OUTPUT_PRICE=0.004
OPENAI_EMBEDDINGS_PRICE=0.0001

OPENAI_TEMPERATURE=0.01
OPENAI_TOP_PRIORITY=0.01

# Azure env variables
AZURE_API_BASE=https://telecentro-openai.openai.azure.com
AZURE_API_VERSION=2023-07-01-preview
AZURE_API_DEPLOYMENT_ID=telecentro-text-embedding-ada-002

# History
HISTORY_EXPIRATION_TIME=30

# Assets - absolute needed file paths
KNOWLEDGE_BASE_PATH=/app/server/assets/knowledge_base_es.txt
NO_EMBEDDINGS_KB_DEFAULT_VALUES_PATH=/app/server/assets/no_embeddings_kb_default_values_es.txt
PROMPT_TEMPLATE_PATH=/app/server/assets/prompt_template_es.txt
UNANSWERED_QUESTION_DEFAULT_RESPONSE_PATH=/app/server/assets/unanswered_question_default_response_es.txt
